<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015785548654-qt1rmj75mm8get73ltutfkkjg0katb5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015785548654-qt1rmj75mm8get73ltutfkkjg0katb5l</string>
	<key>API_KEY</key>
	<string>AIzaSyCbstf5Gj_Q6R2vvRVP-dMWV0WO0NsKRKk</string>
	<key>GCM_SENDER_ID</key>
	<string>1015785548654</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aimeeyeh.Rosa</string>
	<key>PROJECT_ID</key>
	<string>rosa-5438e</string>
	<key>STORAGE_BUCKET</key>
	<string>rosa-5438e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015785548654:ios:25a8ec4d50c1ddef3e6f7f</string>
</dict>
</plist>